@model List<ForkyMVC.Models.Booking.BookingViewModel>

@{
    ViewData["Title"] = "Customer Bookings";
}

<h1 class="my-4 text-center">Customer Bookings</h1>

<div class="container">
    <div class="table-responsive">
        <table class="table table-bordered admin-table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Restaurant</th>
                    <th>Guests</th>
                    <th>Start</th>
                    <th>End</th>
                    <th>Message</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var booking in Model)
                {
                    <tr>
                        <td>@booking.CustomerName</td>
                        <td>@booking.RestaurantName</td>
                        <td>@booking.NumberOfGuests</td>
                        <td>@booking.BookingStart.ToString("g")</td>
                        <td>@booking.BookingEnd.ToString("g")</td>
                        <td>@booking.Message</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
