@model List<ForkyMVC.Models.Restaurant.View.TableViewModel>

@{
    ViewBag.Title = "View Tables";
}

<div class="container mt-5">
    <h1>Tables</h1>
    <a href="@Url.Action("AddTable", "Admin")" class="btn btn-primary">Add New Table</a>
    <table class="table mt-3">
        <thead>
            <tr>
                <th>ID</th>
                <th>Table Number</th>
                <th>Seats</th>
                <th>Restaurant Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var table in Model)
            {
                <tr>
                    <td>@table.Id</td>
                    <td>@table.TableNumber</td>
                    <td>@table.AmountOfSeats</td>
                    <td>@table.FK_RestaurantId</td>
                    <td>
                        <a href="@Url.Action("UpdateTable", "Admin", new { tableId = table.Id })" class="btn btn-warning">Edit</a>
                        <form asp-action="DeleteTable" method="post" class="d-inline" onsubmit="return confirm('Are you sure you want to delete this table?');">
                            <input type="hidden" name="tableId" value="@table.Id" />
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
