@model List<ForkyMVC.Models.Account.AccountViewModel>

@{
    ViewBag.Title = "View Accounts";
}

<div class="container mt-5">
    <h1>Accounts</h1>
    <table class="table">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Address</th>
                <th>Actions</th>
            </tr>
        </thead>
        @foreach (var account in Model)
        {
            <tr>
                <td>@account.FirstName</td>
                <td>@account.LastName</td>
                <td>@account.Email</td>
                <td>@account.Phone</td>
                <td>@account.Address</td>
                <td>
                    <a class="btn btn-primary btn-sm" href="@Url.Action("UpdateAccount", "Account", new { accountId = account.Id })">
                        Update
                    </a>

                    <form asp-action="DeleteAccount" asp-controller="Account" method="post" style="display:inline-block;">
                        <input type="hidden" name="accountId" value="@account.Id" />
                        <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </table>
</div>
