<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Forky</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
                    <ul class="navbar-nav flex-grow-1">
                        @if (!User.Identity.IsAuthenticated)
                        {
                            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/images/forkyutantext.png" alt="Forky Logo" style="height: 40px;" /></a>
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("About", "Home")">About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Login", "Account")">Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Register", "Account")">Register</a>
                            </li>
                        }

                        @if (User.IsInRole("Admin"))
                        {
                            <a class="navbar-brand" asp-area="" asp-controller="Admin" asp-action="Index"><img src="~/images/forkyutantext.png" alt="Forky Logo" style="height: 40px;" /></a>

                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Admin" asp-action="ViewAccounts">Accounts</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Admin" asp-action="ViewBookings">Bookings</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Admin" asp-action="ViewRestaurants">Restaurants</a>
                            </li>
                        }
                        else if (User.IsInRole("User"))
                        {
                            <a class="navbar-brand" asp-area="" asp-controller="User" asp-action="Index"><img src="~/images/forkyutantext.png" alt="Forky Logo" style="height: 40px;" /></a>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="User" asp-action="ViewRestaurants">Restaurants</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="User" asp-action="ViewBookings">Bookings</a>
                            </li>
                        }

                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Account" asp-action="MyAccount">Account</a>
                            </li>
                            <li class="nav-item">
                                <form asp-controller="Account" asp-action="Logout" method="post" style="display: inline;">
                                    <button type="submit" class="btn btn-danger nav-link" style="border: none; padding: 10px; margin-bottom: 0;">Log out</button>
                                </form>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - Forky
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

